body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}
/* width */
::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba($color: #000000, $alpha: .85) !important;
   
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:rgba($color: #888, $alpha: .85) !important;
  border-radius: 15px !important;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(192, 192, 192) !important; 
}
.shrink:hover
{
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
  transition:all ease-in-out .3s;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}