.diamond{
    background-color: rgba($color: white, $alpha: .90);
    margin:100px;
    height: calc(100% - 200px);
    min-height: fit-content;
    overflow-y: auto;
    color:#1f4d62;
    border-radius: 15px;
    h2{
        color:#1f4d62;
        font-family: kulturista-web;
        font-style: normal;
        font-weight: 500;
        font-size: 39px;
        line-height: 1.1em;
        letter-spacing: 4px;
        text-transform: uppercase;
        text-rendering: optimizeLegibility;
        padding:20px 17px 17px 17px;
        text-align: center;
    }
    p {
        padding:60px;
    }
    .results{
        overflow: auto;
        padding:20px;
        margin:auto;
        margin-top:20px;
        height: 500px;
        max-width: 1700px;
        width: 85%;
        border: solid;
        border-color:#1f4d62;
        align-content: center;
        border-radius: 15px;
    }
}