.contact-form{
    background-color: rgba($color: black, $alpha: .8);
    margin:100px;
    padding-left: 60px;
    padding-right: 60px;
    height: fit-content;
    min-height: fit-content;
    overflow-y: auto;
    color:#c1a66d;
    h2{
        color:#c1a66d;
        font-family: kulturista-web;
        font-style: normal;
        font-weight: 500;
        font-size: 39px;
        line-height: 1.1em;
        letter-spacing: 4px;
        text-transform: uppercase;
        text-rendering: optimizeLegibility;
        padding:20px 17px 17px 17px;
        text-align: center;
    }
    input, textarea{
        color: #c1a66d !important;
        background-color: rgba($color: #333333, $alpha: .8) !important;
        border: none;
    }
    textarea{
        height: 100px !important;
    }
    .form-button{
        width: 100%;
    }
    .button-container{
        padding-top: 120px;
        padding-bottom:50px;
        .btn-success{
            background-color: rgba($color: #28a745, $alpha: .5);
            border-color: rgb(24, 89, 41);
            &:hover{
                background-color: rgba($color: #28a745, $alpha: .7);
            }
        }
        .btn-secondary{
            background-color: rgba($color: #6c757d, $alpha: .5);
            border-color: #3f4449;
            &:hover{
                background-color: rgba($color: #6c757d, $alpha: .7);
            }
        }
    }
    label{
        float:left
    }
    .form-control{
        color: #c1a66d !important;
        background-color: rgba($color: #333333, $alpha: .9);
        border: none;
        text-align: center;
        margin-bottom:16px;
    }
    .select{
        float: left;
        background-color: rgba($color: #333333, $alpha: 0) !important;
        padding:0px !important;
    }
    .homesSelect{
        margin-bottom: 16px;
        div{
           background-color: rgba($color: #333333, $alpha: .7) !important;
           color:#c1a66d !important;
           border:none;
           height: fit-content !important;
           justify-content: center;
        }
        span,input{
           color:#c1a66d !important;
           border-color: #c1a66d transparent transparent;
           background-color:rgba($color: #c1a66d, $alpha: .5)
        }

    }
}